{{define "main"}}
{{ if eq .Section "post"}}
<section class="container text-monospace text-justified mt-3">
  <h2>{{.Title}}</h2>
  <small class="text-secondary">Posted on {{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute read</small>
  {{ .Content }}
  <small>Please mail your comments to <a href="{{.Site.Params.email}}">{{.Site.Params.email}}</a></small><br>
  <code>tags:
  {{- range .Params.tags -}}
      <span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ . | lower }}'>{{ . }}</a></span>
  {{ end }}
  </code>
</section>

{{else}}
<section class="container text-monospace text-justified mt-3">
  <h2 class="text-center">{{.Title}}</h2>
    {{ .Content }}
</section>
{{end}}
{{end}}
