{{define "main"}}
{{ if eq .Section "post"}}
	<section class="container text-justified mt-3">
	  <h2 class="font-weight-bold">{{.Title}}</h2>
	  <small class="text-secondary mb-5">Posted on {{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute read</small>
	  <div class="text-monospace mt-2">
		  {{ .Content }}
	  </div>
	  <hr>
	  <div>Share via
	  <a title='email' href='mailto:?subject={{.Title}}&body={{.Permalink}}'><button class='btn btn-sm btn-light'>{{ ":email:" | emojify }}</button></a>
	  <!--<a title='twitter'><button class='btn btn-light btn-sm'>{{":bird:" | emojify }}</button></a>-->
	  </div>
	  <br>
	  <code>Tags:
	  {{- range .Params.tags -}}
	      <span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ . | lower }}'>{{ . }}</a></span>
	  {{ end }}
	  </code>
	  <br>
	    {{ if .Site.Params.disqus }}
	      {{ template "_internal/disqus.html" . }}
	    {{end}}
	</section>
{{else}}
	<section class="container text-justified mt-3">
	  <h2 class="text-center mb-4">{{.Title}}</h2>
	    <div class="text-monospace">
			{{ .Content }}
		</div>
	</section>
{{end}}
{{ if .Site.Params.search.enabled}}
    {{partial "search.html" .}}
{{end}}
{{end}}
