<footer>
  <!-- MathJax related starts!-->
  <script src="//yihui.org/js/math-code.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <!-- MathJax related ends!-->
  <div class="container-fluid bg-dark text-white text-sans-serif text-center mt-2">
    <small>{{.Site.Copyright | safeHTML }} Theme: <a class='text-warning' href="https://github.com/JedStephens/bootstrap-blogdown">bootstrap-blogdown</a> | Crafted with <a class='text-warning' href="https://bookdown.org/yihui/blogdown/">Blogdown</a></small>
  </div>
  {{ if .Site.Params.analytics }}
    {{ template "_internal/google_analytics.html" . }}
{{ end }}
</footer>
<div>
</div>
